* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ubunto';
    src: url('../styles/Ubuntu-Regular.ttf');
}

:root {
    font-family: "Ubunto", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    --primary-color: white;
    --secondary-color: #ccfaf1;
    --accent-color: #0084ff;
    --bg: #002820;
}

a {
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 22px;
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: var(--secondary-color);
}

.waves {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}

#scroll {
    position: absolute;
    bottom: 10px;
    animation: flutuante 4s ease-in-out infinite;
}

#personalImg {
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
}

main {
    padding: 1rem;
    display: flex;;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

section {
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px black;
}

li {
    list-style: none;
}

li::before {
    content: "-";
}

p::first-letter {
    margin-left: 2rem;
}

.habilidades {
    text-align: center;
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    

}

h3 {
    font-size: 3rem;
    padding: 1rem;
}


.skills {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    height: 80px;
    border: 1px solid transparent;
    border-bottom: 3px solid black;
    box-shadow: 0 5px 10px var(--bg);
}
span{
    color: var(--accent-color);
    font-weight: 600;
}

footer {
    background-color: var(--secondary-color);
    height: 50vh;
}

@media (min-width: 768px) {
    .waves{
        width: 100%;
    }
    main {
        margin: 4rem 10rem;
    }
}
@media (min-width: 1024px) {
    main {
        margin: 4rem 20rem;
    }
    #skills-container{
        gap: 3rem;
    }
    .skills{
        padding: 10px;
        height: 120px;
    }
    .waves{
        bottom: -10;
    }
}
@keyframes flutuante {
    0% {
        transform: translate(-0%, -50%) translateY(0);
        padding: 0.5rem;
        border: 3px solid white;
        border-radius: 5px;
        color: white;
    }

    50% {
        transform: translate(-0%, -50%) translateY(-50%);
        padding: 0.5rem;
        border-radius: 5px;
    }

    100% {
        transform: translate(-0%, -50%) translateY(0);
        padding: 0.5rem;
        border: 3px solid white;
        border-radius: 5px;
        color: white;
    }
}