* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ubunto';
    src: url('../styles/Ubuntu-Regular.ttf');
}

:root {
    font-family: "Ubunto", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    --bg-color: rgb(51, 66, 92);
    --bg-opacity: rgba(0, 0, 0, 0.6);
    --text-color: rgb(255, 246, 246);
    --accent-color: rgb(255, 94, 0);
    --shadow: rgb(2, 2, 2);
}

body {
    font-size: 1.6rem;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 22px;
}

#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;

}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    width: 100%;
    transform: translateZ(-1px) scale(1.1);
}

.personalImg {
    transform: scale(1);
    position: absolute;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 50px 10px var(--shadow);
}

.name {
    transform: translate(-3) scale(1);
    bottom: 50px;
    position: absolute;
    font-size: 3rem;
    color: white;
    padding: 0.3em;
    background-color: var(--bg-opacity);
    text-align: center;
    width: 100%;
}

#info {
    margin: 3rem 0 0;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: var(--text-color);
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: linear-gradient(var(--bg-color), var(--shadow));

}

div>div {
    background-color: var(--bg-color);
    color: var(--accent-color);
    text-align: center;
    font-weight: 550;
    padding: 2rem 0;
}

section {
    background-color: var(--bg-color);
    padding: 1.3rem;
    border-radius: 5px;
    box-shadow: 0 0px 10px var(--shadow);
    transition: all 0.3s ease-in-out;
    width: 95%;

}


section.expand {
    padding: 1.8rem;
    width: 100%;
    transition: all 0.5 ease-in-out;
}

section>h2 {
    text-align: left;
    width: fit-content;
    padding: 0.5rem;
    border: 1px solid var(--bg-opacity);
    border-radius: 5px;
    box-shadow: 0 0px 10px var(--bg-opacity);
}
section>h2::before{
    color: var(--text-color);
    font-size: 3rem;
    content: " ↓ ";
}
section.expand>h2::before{
    color: var(--text-color);
    font-size: 3rem;
    content: " ↑ ";
}

section.expand>h2 {
    text-align: left;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border: 1px solid var(--bg-opacity);
    border-radius: 5px;
}

section>h2,
h3 {
    color: var(--accent-color);
    font-weight: bold;
}



p {
    margin-bottom: 1.5rem;
}

span, b, strong {
    color: var(--accent-color);
}

main p::first-letter {
    margin-left: 2.5rem;
}

.collapse {
    display: none;
    transition: all 0.3s ease-in-out;
}

.collapse.show {
    display: block;
    transition: all 0.3s ease-in-out;
}

.skill {
    display: inline-block;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;

}

ul {
    padding-inline-start: 20px;
}

li {
    margin-bottom: 2rem;
    list-style: none;
}
li::before{
    color: var(--accent-color);
    content: " - ";
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 2rem;
    align-items: center;
    justify-items: center;
    text-align: center;
}
footer > p{
    margin-top: 4rem;
    color: var(--accent-color);
}

footer h3 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

footer>div {
    display: flex;
    justify-content: space-around;
}

footer img {
    height: 50px;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 1.7rem;
    }

    .background {
        transform: translateZ(-10px) scale(2.2);
    }

    .foreground {
        object-fit: contain;
        transform: translateZ(-1px) scale(1.4);
    }

    .personalImg {
        transform: scale(1.2);
    }

    main {
        gap: 2rem;
        padding: 3rem 4rem;
    }


    section {
        width: 65%;
    }

    section.expand {
        padding: 4rem 6rem;
        transition: all 0.5 ease-in-out;
    }

    .name {
        width: fit-content;
        border-radius: 5px;
    }

}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    .background {
        transform: translateZ(-10px) scale(2.2);
    }

    .foreground {
        transform: translateZ(-1px) scale(1.5);
        bottom: -150px;
    }

    .personalImg {
        transform: scale(1.4);
    }

    .name {
        font-size: 4rem;
    }

    main {
        gap: 2rem;
        padding: 5rem 8rem;
    }

    section {
        width: 65%;
    }

    section.expand {
        padding: 5rem 8rem;
        transition: all 0.5 ease-in-out;
    }
}